* { cursor:default; }
a, a * { cursor:pointer; }
html, body { margin:0; padding:0; font-family:arial; }
a { text-decoration:none; color:rgba(0,96,200,0.8); }
a:hover { text-decoration:underline; }

.hidden { display:none; }

#outline {
  overflow:auto;
  position:fixed;
  top:0;
  bottom:0;
  left:10px;
  padding:10px;
  width:200px;
  background:rgba(0,32,64,0.1); }
#outline > div { overflow:auto; }
#outline > div > h4 {
  margin:10px 0;
  padding:5px 10px;
  color:rgba(255,255,255,0.8);
  background:rgba(0,0,0,0.2);
  box-shadow:1px 3px 6px rgba(0,0,0,0.2); }
#outline > div > h5 {
  margin:10px 0 5px 0;
  padding:2px 5px;
  color:rgba(0,0,0,0.6);
  border-bottom:1px dashed rgba(0,0,0,0.1);
  background:rgba(0,0,0,0.1); }
#outline > div > a {
  display:block;
  font-size:90%;
  margin:2px;
  padding:2px 6px;
  border:2px solid rgba(0,0,0,0.05);
  border-top:none;
  border-bottom:none;
  color:rgba(0,0,0,0.6);
  background:rgba(0,0,0,0.02); }
#outline > div > a:hover {
  text-decoration:none;
  padding:2px 4px;
  border:4px solid rgba(0,0,0,0.07);
  border-top:none;
  border-bottom:none;
  border-radius:3px;
  background:rgba(0,0,0,0.05); }
#outline > div.types > h4 { background-color:rgba(0,32,128,0.3); }
#outline > div.procs > h4 { background-color:rgba(128,0,32,0.3); }
#outline > div.procs > h5 { background-color:rgba(0,32,128,0.1); }
#outline > div.types > a { background-color:rgba(0,32,128,0.05); font-weight:bold; }
#outline > div.procs > a { background-color:rgba(128,0,32,0.05); }
#outline > div.types > a:hover { background-color:rgba(0,32,128,0.1); }
#outline > div.procs > a:hover { background-color:rgba(128,0,32,0.1); }

#content {
  position:absolute;
  left:240px;
  right:0;
  margin-bottom:20px;
  padding:20px 20px 0 20px;
  border:1px dashed rgba(0,64,128,0.2);
  border-top-width:0;
  border-right-width:0; }
#content.full { left:10px; }
#content.hidden-inactive #types > div,
#content.hidden-inactive #procs > div { display:none; }
#content.hidden-inactive #types > div.active,
#content.hidden-inactive #procs > div.active { display:block; }
#content.hidden-inactive #procs > p { display:none; }
  
  #types-wrap,
  #procs-wrap { margin:20px 0; color:rgba(255,255,255,0.8); box-shadow:1px 3px 12px rgba(0,0,0,0.3); }
  #types-wrap { border-bottom:10px solid rgba(0,32,128,0.4); }
  #procs-wrap { border-bottom:10px solid rgba(128,0,32,0.4); }
  #types-wrap > h3,
  #procs-wrap > h3 { margin:0; padding:5px 3px 5px 10px; }
  #types-wrap > h3 { background:rgba(0,32,128,0.4); }
  #procs-wrap > h3 { background:rgba(128,0,32,0.4); }
  #procs-wrap > h3 > a {
    display:block;
    float:right;
    margin:0 2px;
    padding:2px 6px;
    cursor:default;
    font-size:90%;
    color:rgba(0,0,0,0.36);
    border-radius:2px; }
  #procs-wrap > h3 > a:hover {
    text-decoration:none;
    background:rgba(0,0,0,0.1); }
  #procs-wrap > h3 > a.active {
    background:rgba(0,0,0,0.1);
    box-shadow:inset 0 1px 4px rgba(0,0,0,0.2); }
  #procs-wrap > h3 > a.active:hover {
    background:rgba(0,0,0,0.15); }
    
    #types,
    #procs { margin:0; padding:10px 10px 1px 10px; color:rgba(0,0,0,0.5); background:rgba(96,128,200,0.1); }
    #types > div,
    #procs > div {
      margin:0 0 10px 0;
      padding:5px 10px;
      border:0 solid #000;
      border-top-width:5px;
      border-bottom-width:2px;
      box-shadow:1px 1px 4px rgba(0,0,0,0.2);
      background:rgba(255,255,255,0.6); }
    #types > div:hover,
    #procs > div:hover { background:rgba(225,245,255,0.2); }
    #types > div.active,
    #procs > div.active { background:rgba(96,255,200,0.2); }
    #types > div.active:hover,
    #procs > div.active:hover { background:rgba(164,255,240,0.3); }
    #types > div div.sign,
    #procs > div div.sign { font-weight:bold; }
    #types > div div.desc,
    #procs > div div.desc { font-style:italic; color:rgba(64,64,32,0.4); }
    
    #types { overflow:auto; /*background:rgba(0,32,128,0.1);*/ }
    #types > div { overflow:auto; border-color:rgba(0,32,128,0.6); }
    #types > div > div { float:left; margin:0; padding:5px 0; }
    #types > div > div.head { width:40%; }
    #types > div > div.head > div.sign > span.symbol { color:rgba(0,32,96,0.8); }
    #types > div > div.data { width:30%; }
    #types > div > div.procs { width:30%; }
    #types > div > div.data > div,
    #types > div > div.procs > div { margin:0 10px 5px 5px; font-weight:bold; color:rgba(0,0,0,0.4); border-bottom:1px dashed rgba(0,0,0,0.2); }
    #types > div > div > ul { margin:0; padding:0 0 5px 30px; }
    #types > div > div.data > ul > li { color:rgba(0,96,128,0.5); }
    #types > div > div.procs > ul > li,
    #types > div > div.procs > ul > li > a { color:rgba(160,0,64,0.5); }
  
    #procs { padding-bottom:10px; /*background:rgba(128,0,32,0.1);*/ }
    #procs > p { margin-top:0; padding-top:20px; color:rgba(0,0,0,0.3); border-bottom:1px dashed rgba(0,0,0,0.1); }
    #procs > p:first-child { padding-top:10px; }
    #procs > div { border-color:rgba(128,0,32,0.6); }
    #procs > div.overload { margin-bottom:0; border-top:none; border-bottom-width:1px; border-bottom-style:dashed; }
    #procs > div.overload-head { margin-bottom:0; border-bottom-width:1px; border-bottom-style:dashed; }
    #procs > div.overload-tail { border-top:none; }
    #procs > div > div.sign > a { padding:0 6px; border-radius:6px; background:rgba(128,0,0,0.15); }
    #procs > div > div.sign > span.symbol { color:rgba(200,0,64,0.8); }
    #procs > div > div.sign > span.params { color:rgba(0,96,128,0.6); font-weight:normal; }
    #procs > div > div.sign > span.params > b { color:rgba(0,0,0,0.6); }
    #procs > div > div.sign > span.params > a { font-style:italic; font-weight:bold; }
    #procs > div > div.sign > span.params > a:first-of-type { font-style:normal; }
    #procs > div > div.sign > span.pragmas > a { padding:0 6px; border-radius:6px; background:rgba(0,128,0,0.15); }

#controls {
  overflow:auto;
  position:fixed;
  right:10px;
  left:240px;
  padding:10px 10px 10px 20px;
  font-size:90%;
  color:rgba(0,0,0,0.4);
  border-bottom:1px dashed rgba(0,64,128,0.2);
  background:rgba(255,255,255,0.92); }
#controls.full { left:10px; }
#controls > div { float:right; padding:5px 0 0 30px; }
#controls > div.left { float:left; padding:0; }
#controls > div > input {
  cursor:text;
  margin:0 5px;
  padding:5px 10px;
  width:200px;
  border:none;
  border-radius:3px;
  font-style:italic;
  color:rgba(0,96,128,0.4);
  background:rgba(220,240,255,0.2);
  box-shadow:inset 0px 1px 4px rgba(0,0,0,0.2); }
#controls > div > a {
  cursor:default;
  padding:5px 10px;
  color:rgba(0,96,128,0.4);
  font-weight:bold;
  border-radius:3px;
  box-shadow:0px 1px 4px rgba(0,0,0,0.2); }
#controls > div > a:hover { background:rgba(0,64,128,0.1); text-decoration:none; }
#controls > div > a.active { background:rgba(0,0,0,0.05); box-shadow:inset 0px 1px 4px rgba(0,0,0,0.2); }
#controls > div > a.active:hover { background:rgba(0,0,0,0.1); }
  #types-menu { background:rgba(0,32,128,0.2); }
  #procs-menu { background:rgba(128,0,32,0.2); }